

.FlipCard {
    position: relative;
    margin: 50px;
}

.FlipCard-card {

    &:hover {
        cursor:pointer;
    }
}
.FlipCard-cardImage {
    background: @--color-white;
    backface-visibility: hidden;

}

.FlipCard-card--enter {
    opacity: 0.01;
    transition: opacity .177s ease-in;
}
.FlipCard-card--enter-active {
    opacity: 1;
}
.FlipCard-card--leave {
    transition: transform .333s ease-in, opacity .5s ease-in;
    transform: rotateY( 0deg );
    /* opacity: 1; */
}
.FlipCard-card--leave-active {
    transform: rotateY( -90deg );
    /* opacity: 0; */
}
